<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <servlet-class>customerEnter.Servlet.customerlogin.CustomerLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GoOutCustomerLoginServlet</servlet-name>
    <servlet-class>customerEnter.Servlet.customerlogin.GoOutCustomerLoginServlet</servlet-class>
  </servlet>



<!-- 
功能：已買客戶登錄進入系統的入口
時間：2015/11/9
編者：徐新院
 -->
  <servlet-mapping>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <url-pattern>/CustomerLoginServlet</url-pattern>
  </servlet-mapping>
  
  <!-- 
功能：已經登錄的客戶安全退出
時間：2015/11/9
編者：徐新院
 -->
  <servlet-mapping>
    <servlet-name>GoOutCustomerLoginServlet</servlet-name>
    <url-pattern>/GoOutCustomerLoginServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
