@charset "utf-8";

*{margin:0;padding:0;}
html {font-size: 62.5%; /* 10÷16=62.5% */}
a:hover{ text-decoration:none;/*超链接无下划线*/ } 
ul{list-style:none;}
li{list-style:none;}
body{font-family:"Segoe UI", "Lucida Grande", Helvetica, Arial,
		"Microsoft YaHei", FreeSans, Arimo, "Droid Sans",
		"wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3",
		FontAwesome, sans-serif;}
body{min-width: 1320px;}
iframe{border:none;}
table{width:100%;}
input{padding-left:10px;}
label{margin:0 !important;font-weight:400 !important;}
.user_head{
	width:55px;
	height:55px;
	margin: 0 0 0 19px;
	border-radius:50%;
	border:3px solid #ff5b77;
}
.user_headimg{
	border-radius:50%;
	width:50px;
}
.heartbeatbtn{
	border:none;
	background-color:transparent;;
}
.heartbeatimg{
	width:80px;
	height:80px;
}
.heartbeatli{
	float:left;
	width:80px;
	height:80px;
	margin:10px 10px 10px 0;
	background-color:#fff0f3;
	text-align:center;
}
.heartbeatli1{
	float:left;
	width:80px;
	height:80px;
	margin:10px 10px 10px 0;
	background-color:#fff0f3;
	text-align:center;
}
.heartbeatli1>a{
	width:80px;
	height:80px;
	display:block;
	color:#ff5b77;
	font-size:17px;	
	margin-top:30px;	
}
/*登陸頁*/
.login_in{
	width:800px;
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
	background-color:#fff;
}
.login_txt{
	padding-left: 10px;
    border: 1px solid #d7d7d7;
    height: 50px;
    width: 270px;
    font-size: 1.6rem;
    color:#ff5b77;
}
.login_txt1{
	font-size:2rem;
	color:#9c9c9c;
	vertical-align: middle;
}
.login_txt2{
    display:block;
    color:#ff5b77;
    font-size:1.8rem;
    width: 275px;
}
.login_txt3{
	color:#ff5b77;
	font-size:1.8rem;
	line-height: 50px;
}
.login_ic{
	width:60px;
	margin-right:5px;
}
.login_btn{
	background-color:#ff5b77;
	border:none;
	color:#fff;
	width:100px;
	height:45px;
	font-size: 1.6rem;
}
.login_btn1{
	background-color:#ff5b77;
	border:none;
	color:#fff;
	width:200px;
	height:50px;
	font-size: 1.8rem;
}
.login_li{
	text-align: center;
    width:100%;
    padding: 0;
    font-size: 2rem;
    color: #ccc;
    margin-bottom: 0 !important;
}
.login_li_a{
	padding: 8px 30px 9px 30px!important;
	color:#ff5b77;
	background-color:#fff;
}
.login_s{
	width:100%;
	height:350px;
    margin-bottom: 50px;
    border:2px solid #ff5b77;
}
.goout_btn{
	background-color:#298B3D;
	border:none;
	color:#fff;
	width:268px;
	height:45px;
	font-size: 1.6rem;
}

.login_guide{
	width: 290px;
    float: right;
    margin-top: -400px;
    margin-right: -175px;
}
.containter_foot{
	width:80%;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
	min-width:1370px;
}
/*店鋪首頁（1）*/
.hea {
	background: url(../images/index_hea.png) repeat-x bottom;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	height: 80px;
	min-width:1370px;
}
.shop_logo{
	margin-top:135px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:30px;
	width:450px;
	height:190px;
}
.breadcrumb {
	padding: 20px 15px 15px 0 !important;
	margin-right: 5%;
	background-color: transparent !important;
}

.breadcrumb>li+li:before {
	color: #ff0a4f !important;
	content: "|" !important;
	padding: 0 5px;
}

.hea_a {
	color: #ff0a4f;
	font-size: 1.7rem;
}
.hea_a:hover{ color: #ff0a4f;text-decoration:none;/*超链接无下划线*/ }
.shop_li{
    text-align:center;
	list-style: none;
	margin:auto;
	width:1100px;
	padding: 0 5px;
	font-size: 2rem;
	color:#ccc;
	margin-bottom:0 !important;
}
.shop_li_ic{
	width:30px;
	margin-right:5px;
}
.containter{
	margin-top: 20px;
    width: 100%;
    height: 610px;
}
.shop_a {
	color: #9c9c9c;
	font-size: 1.9rem;
}
.shop_head_img{
	width:80px;
	height:80px;
}
.shop_menu{
	width:100%;
	background-color:#ff0a4f;
	height:45px;
	min-width: 1370px;
	margin-right:auto;
	margin-left:auto
}
.nav-tabs {
	border: none !important;
}
.shop_li>li {
	color: #fff !important;
	margin: 0 !important;
	border-left: 1px solid #fff !important;
	border-right: 1px solid #fff !important;
}

.nav-tabs>li>a {
	margin: 0 !important;
	border-radius: 0 !important;
}

.shop_li_a {
	padding:8px 68px 9px 68px!important;
	color: #fff;
}
.shop_li_as {
	padding:8px 35px 6px 35px!important;
	color:#ffd800;
}
.sho_li_qro{
	width: 35px;
    margin-top: -7px;
}
.containter_s{
	width:1370px;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
}
.slide{
	max-height: 605.5px;
	background-color:#fff;
	width:1000px;
	float: left;
	border: 1px solid #ccc;
}
.cont_right{
	margin-left: 20px;
	float: right;
	width: 340px;
	border: 1px solid #ccc;
}
.list_hea{
	font-size: 2rem;
	padding: 20px 15px 5px 10px;
	height:77px;
	color:#fff;
	border:none;
	background-color:transparent;
	background-size:contain;
	background:url(../images/list_hea.png) no-repeat;
}
.list_lh{ 
	background-color:#fff;
	border:none;
    height: 526.5px;
    overflow: hidden;
}
.list_lh li{ padding:10px;margin-bottom:5px;background:#fff;}
.list_lh li.lieven{ background:#fff;}
.shop_fan{
	width:1370px;
	display: block;
	background-color:#fff;
	height:100px;
	border:1px solid #ccc;
	margin-top:15px;
	padding:10px;
}
.shop_fan_logo{
	float: left;
	width:500px;
	border-right:2px dashed #ccc;
	height:100%;
}
.sho_fan_txt{
	color:#ff0a4f;
	display:block;
	width:240px;
	float:left;
	text-align:center;
}
.shop_fan_txt{
	padding: 13px 0;
	width:100px;
	text-align:center;
	float:left;
	height:100%;
}
.shop_fan_see{
	width:670px;
	height:80px;
	float:left;
	overflow: hidden;
}
.shop_fan_si{
	border: 1px solid #ccc;
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 10px;
    border-radius: 2px;
}
.shop_shop{
    float:left;
	list-style: none;
	margin:auto;
	width:415px;;
	padding: 0 5px;
	font-size: 2rem;
	margin-bottom:0 !important;
}
.shop_shop_right{
    float:right;
    margin-top: 8px;
    color:#fff;
	margin-right:20px;
	width:500px;;
	padding: 0 5px;
	font-size:1.9rem;
	margin-bottom:0 !important;
}
.shop_shop_a {
	padding:8px 30px 9px 30px!important;
	color: #fff;
}
.shop_all_e{
	background-color:#fff;
	width:215px;
	margin: 0 5px;
	margin-top: 20px;
	float:left;
	border:1px solid #ccc;
	border-radius:4px;
	height:auto;
}
.shop_all_e>img{
	padding:1px;
}
.shop_all_td1{
	font-size: 1.7rem;
	text-align:center;
	width:50%;
	padding: 10px 0 10px 0;
}
.shop_all_td2{
	padding:0 0 0 15px;
	background-color:#f2f2f2;
	color:#9c9c9c;
}
.footer{
	width:100%;
	display:block;
	margin-top:10px;
	position: absolute;
}
.foot_right{
	text-align: right;
    font-size: 1.6rem;
    padding: 15px 0;
    width:600px;
    float: right;
}
.foot_right_a{
	font-size: 1.7rem;
    padding: 0 15px;
    color: #ccc;
}
.top-fix{
	position: fixed;
	right: 35px;
    float: right;
    width: 100px;
    height: 537px;
    border: 1px solid #ccc;
    border-radius:10px;
    top: 25%;
    background-color:#fff;
}
.top_fix_li{
	text-align:center;
	padding-top: 15px;
}
.top_fix_li>a:hover{
	text-decoration:none;
}
.top_fix_lid{
	text-align:center;
	padding: 22px 0;
	background:url(../images/appdownback.png) no-repeat;
	border-radius:0 0 10px 10px;
}
.top_fix_img{
	width:50px;
}
/*購物籃*/
.sbk{
	width:80%;
	margin-left:auto;
	margin-right:auto;
	min-width:1300px;
}
.skb_hea_lv{
	background: url(../images/LV0a.png) no-repeat;
    background-size: contain;
    width: 70px;
    height: 60px;
    padding:12px 3px 20px 5px;
    color:#fff;
    margin: 5px 0 0 0;   
    font-size: 14px;
}
.sbk_container{
	width:1370px;
	margin-top:100px;
	margin-left:auto;
	margin-right:auto;
}
.skb_guid{
	display: block;
	width:800px;
}
.skb_guide_ul{
	width: 560px;
	float:left;
}
.skb_guid_li{
	text-align:center;
	float:left;
	padding:48px 15px;
}
.skb_guid_img{
	width:80px;
}
.skb_txt{
	font-size:1.8rem;
	color:#9d9d9d;
}
.skb_txt:hover,.skb_txt:visited,.skb_txt:active,.skb_txt:link{
	font-size:1.8rem;
	color:#ddd;
	text-decoration:none;
}
.skb_search{
	width:460px;
	float:left;
	margin-left: 150px;
}
.skb_search_btn{
	padding: 7px 25px 6px 25px !important;
	background-color:#ff5b77;
	border-radius:0 !important;
}
.skb_search_se{
	border:none;
	height:50px;
	background-color:#fff;
	color:#333;
	padding:0 13px !important;
	font-size:1.6rem !important;
}
.skb_search_txt{
	display:block;
	float:left;
	margin-right:10px;
	font-size:15px;
	color:#ccc;
}
.skb_in{
	background-color: #fff;
}
.skb_s {
    width: 100%;
    height:auto;
    margin-bottom:25px;
    border: 1px solid #ccc;
}
.skb_li_a {
    padding: 8px 50px  9px 50px  !important;
    color: #fff !important;
    background-color: #ccc !important;
}
.skb_left{
	float:left;
	font-size:1.6rem;
}
.skb_ck{
	width:150px;
}
.skb_inf{
	width:310px;
	text-align:center;
}
.skb_inn{
	width:213px;
	text-align:center;
}
.skb_inp{
	width:150px;
	text-align:center;
}
.skp_innum{
	width:200px;
	text-align:center;
}
.skb_in_price{
	width:100px;
	text-align:center;
}
.skb_inoperation{
	width:230px;
	text-align:center;
}
.skb_home{
	padding: 10px 0 10px 10px !important;
	font-size:1.8rem;
	background-color:#ffeeee;
	border:1px solid #ccc;
	border-right:none;
	border-left:none;
}
.skb_homeshop{
	padding:0 0 0 10px !important;
	border-bottom:1px solid #ccc;
}
.skb_hometxt{
	color:#8f8f8f;
	vertical-align: middle;
}
.skb_ck_img{
	width:80px;
	height:80px;
}
.skb_cks{
	width:50px;
	margin-top: 50px;
	margin-bottom:20px;
}
.skb_ckimg_1{
	width:80px;
	margin-top: 20px;
	margin-bottom:20px;
}
.skb_inf_1{
	width:325px;
	margin-left:15px;
	margin-top: 20px;
	margin-bottom:15px;
}
.skb_inn_1{
	padding-left: 30px;
	margin-top: 50px;
	width:200px;
	color:#cacaca;
	font-size:1.8rem;
	margin-bottom:20px;
}
.skb_inp_1{
	width:150px;
	text-align:center;
	margin-top: 20px;
	margin-bottom:20px;
}
.skp_innum_1{
	width:200px;
	color:#cacaca;
	text-align:center;
	margin-top: 20px;
	margin-bottom:20px;
}
.skb_in_price1{
	width:100px;
	font-weight:bold;
	margin-top: 50px;
	color:#ff5b77;
	text-align:center;
	margin-bottom:20px;
}
.skb_inoperation1{
	margin-top:40px;
	width:238px;
	text-align:center;
	margin-bottom:20px;
}
.skb_innbtn{
	border:none;
	color:#cacaca;
	background-color:#fff;
}
.skb_innbtn:hover,.skb_innbtn:active,.skb_innbtn:link,.skb_innbtn:visited{
	border:none;
	color:#cacaca;
	background-color:#fff;
	text-decoration:none;
	
}
.skb_ic{
	width:67px;
	margin:5px 0;
}
.skb_detxt{
	color:#f0c03e;
	display:block;
	margin-top: 5px;
}
.skb_btgroup{
	margin-left: 37px;
	border: 1px solid #cacaca !important;
	width: 130px !important;
}
.skb_addtxt{
	text-align:center;
	width:60px !important;
	border-left: 1px solid #cacaca !important;
	border-right: 1px solid #cacaca !important;
	color: #ff0a4f !important;
	height: 35px !important;
}
.skb_btnadd {
	padding:0 !important;
    font-weight: bold !important;
    background-color: transparent;
    border:none;
    color: #cacaca !important;
    font-size:25px !important;
    border-radius:0 !important;
    width:35px;
    height: 35px;
}
.skb_addbtic{
	margin-top: -5px;
	display:block;
}
.skb_alarm{
	width:30px;
	margin: -1px 10px 0 0;
	float:left;
}
.skb_timedowm{
	color:#ff5b77;
	font-size:1.6rem;
	float:left;
	font-weight:bold;
}
.skb_redpack{
	padding:0;
	border:2px solid #ff5b77;
	height:100px;
	background-color:#fff;
}
.skb_redtd{
	text-align: center;
	border-right:1px solid #ccc;
}
.skb_redbtn{
	color:#fff;
	margin-left: 10px;
	background-color:#ff5b77;
	border:none;
	width: 140px;
	height:40px;
    font-size:1.6rem;
    border-radius:5px;
}
.skb_clobtn{
    color:#fff;
    background-color:#ff5b77;
    border:none;
    width:100%;
    height:100%;
    font-size:22px;
}
.skb_eversee{
	line-height: 43px;
	margin-top:20px;
	padding:0 20px !important;
	background-color:#ff5b77;
	height:45px;
	color:#fff;
	font-size:20px;
}
.skb_shopexchage{
	color:#fff;
}
.skb_shopexchage:hover{
	color:#fff;
	text-decoration:none;
}
.car_nobtn{
	background-color:#ff5b77;
	color:#fff;
	font-size:16px;
	height:40px;
	width:140px;
	border:none;
	border-radius:5px;
}
.car_nobtn1{
	background-color:#fff;
	color:#ff5b77;
	font-size:16px;
	height:40px;
	width:140px;
	border:2px solid #ff5b77;
	border-radius:5px;
}
   /*購物籃彈出框*/
.popover{
	font-family:"Segoe UI", "Lucida Grande", Helvetica, Arial,
		"Microsoft YaHei", FreeSans, Arimo, "Droid Sans",
		"wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3",
		FontAwesome, sans-serif !important;
}
.content_car{
	color: #ff5b77;
	width:500px;
	border: 2px solid #ff5b77;
	border-radius: 5px;
	background: #fff;
	display: none;
	margin-top: 10px;
	position: absolute;
	z-index:999;
}
.yListr ul li {
	height: auto;
}

.yListr ul li button {
	text-align: center;
	cursor: pointer;
	color: #ff5b77;
	background: #fff;
	font-size: 14px;
	display: inline-block;
	padding: 0;
	font-style: normal;
	border: 2px solid #ff5b77;
	line-height: 32px;
	height: 34px;
	border-radius: 5px;
	width: 50px;
	margin: 5px 5px 5px 0;
}
/*禁用按鈕樣式*/
.yListr_butdis {
	color: #ccc !important;
	background: #fff !important;
	border: 2px solid #ccc !important;
}

.yListr ul li button.yListrclickem {
	line-height: 30px;
	border: 2px solid #ff5b77;
	background: #ff5b77;
	height: 32px;
	position: relative;
	padding: 0;
	color: #fff;
}

.iListr ul li {
	height: auto;
}

.iListr ul li em {
	text-align: center;
	cursor: pointer;
	color: #9b9b9b;
	background: #fff;
	font-size: 14px;
	display: inline-block;
	padding: 0;
	border-radius: 5px;
	font-style: normal;
	border: 2px solid #fff;
	line-height: 32px;
	height: 74px;
	width: 74px;
	margin: 5px 5px 5px 0;
}

.iListr ul li em.iListrclickem {
	line-height: 30px;
	border: 2px solid #ff5b77;
	background: #fff;
	height: 74px;
	position: relative;
	padding: 0;
	color: #ff5b77;
}

.iListr ul li em.iListrclickem i {
	display: block;
	width: 15px;
	height: 14px;
	background: url(../images/righbt.png) no-repeat 0 0;
	right: -1px;
	bottom: -1px;
	position: absolute;
}
.skb_p_btn{
	border:none;
	height:40px;
	width:100%;
	border-radius: 5px;
	color:#fff;
	font-size:18px;
}
.skb_bt_1{
	margin-right: 10px;
	background-color: #c6c6c6;
	border-radius: 15px;
	color: #fff;
	font-size: 1.4rem;
	padding:0 10px 0 10px;
}
.scrollDiv {
	height: 25px; /* 必要元素 */
	overflow: hidden; /* 必要元素 */
}

.scrollDiv li {
	height: 25px;
	padding-left:0;
	 color: #ff5b77;
	font-size:15px;
}
#con1_1 {
	position: relative;
}

#con1_1 .product_list {
	position: absolute;
	left: 0px;
	top: 0px;
	padding: 0;
	margin: 5px;
}

.product_list>a>img {
	width: 100%;
	padding: 2px;
}
/*商品詳細信息頁*/
.shopin_na{
    float:left;
	margin:auto;
	padding: 0;
	font-size: 2rem;
	margin-bottom:0 !important;
}
.shopin_na_a {
	padding:8px 99px 9px 99px!important;
	color: #fff;
}
.shopin_img{
	width:685px;
	height:350px;
	filter:alpha(opacity=50);  
    -moz-opacity:0.5;  
    -khtml-opacity: 0.5;  
    opacity: 0.5;  
}
.shopin_p1{
	position: absolute;
	width:350px;
	height:230px;
	margin-left: 500px;
    margin-top: 65px;
	font-size:16px;
	border:5px solid #ff5b77;
	background-color:#fff;
	filter:alpha(opacity=70);  
    -moz-opacity:0.7;  
    -khtml-opacity: 0.7;  
    opacity: 0.7;  
}
.shopin_txt{
	padding:10px 0 !important;
	color:#8f8f8f;
	font-size:17px;
}
.shopin_txt1{
	padding:5px 0 !important;
	color:#8f8f8f;
	font-size:17px;
}
.shopin_clip{
	width:40px;
	position: absolute;
	margin-top: -15px;
	margin-left: 10px;
}
.shopin_projection {
	width: 310px;
	-webkit-box-shadow: -9px 10px 4px rgba(0, 0, 0, 0.17), 0 0 60px
		rgba(0, 0, 0, 0.06) inset;
	-moz-box-shadow: -9px 10px 4px rgba(0, 0, 0, 0.17), 0 0 40px
		rgba(0, 0, 0, 0.06) inset;
	box-shadow: -9px 10px 4px rgba(0, 0, 0, 0.17), 0 0 40px
		rgba(0, 0, 0, 0.06) inset;
}
.shopin_recommend{
	margin: 10px 0 0;
	height:45px;
	color:#ff5b77;
	line-height:45px;
	padding: 0 50px 0 20px !important;
}
.shopin_releft{
	float:left;
	font-size:16px;
}
.shopin_reright{
	float:right;
	font-size:14px;
}
.shopin_reli{
	float:left;
	margin-right:13px;
}
.shopin_reimg{
	width:103px;
	height:103px;
}
.shopin_nowprice{
	font-size:23px;
	color:#ff5b77;
}
.shopin_savemoney{
	font-size:16px;
	color:#f0c03e;
}
.shopin_standard{
	margin-top: 40px;
	font-size: 16px;
	color:#8f8f8f;
	float:left;
}
.shopin_standli{
	width:68px;
	height:68px;
}
.shopin_joinimg{
	width:130px;
	margin-left:10px;
}
.shopin_drobtn{
	float:left;
	width: 129px;
	margin-top: -6px;
	display: inline-block;
    padding: 6px 3px;
    margin-left: 9px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #ccc;
}
.dropdown-menu>li>span {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.shopin_static_dia{
	width:15px;
	height:100%;
	background-color:#ff5b77;
	float:left;
}
.shopin_static_s{
	float:left;
	width:940px !important;
	font-size:18px;
}
.shopin_static_ic{
	width:30px;
	margin-top: -4px;
}
.shopin_right{
	min-height:650px;
	width:350px;
	border:1px solid #ccc;
	border-bottom:none;
	background-color:#fff;
	margin-left:auto;
	margin-right:auto;
	margin-top: -10px;
}
.shopin_rightbtn{
	border:none;
	background-color:#ff903e;
	font-size:22px;
	color:#fff;
	border-radius:10px;
	width:290px;
	height:60px;
}
.shopin_rightbtn1{
	border:none;
	background-color:#ff5b77;
	font-size:22px;
	color:#fff;
	border-radius:10px;
	width:290px;
	height:60px;
	margin-top:10px;
}
.shopin_rightbtn3{
	border:none;
	background-color:#fff;
	font-size:20px;
	color:#ff5b77;
	border-radius:10px;
	width:100%;
	height:50;
	margin-top:10px;
}
.shopin_rightbtn4{
	border:none;
	background-color:#fff;
	font-size:20px;
	color:#8f8f8f;
	border-radius:10px;
	width:100%;
	height:50;
	margin-top:10px;
}
.shopin_rightdown{
	position: absolute;
	background: url(../images/shopin_rightdown.png) no-repeat;
	bottom: -73px;
    width:348px;
    height: 80px;
    padding:0;
}
.shopin_amountpaid{
	font-size: 19px;
	color:#8f8f8f;
	float:left;
	margin-left: 5px;
}
.shopin_amountpaid1{
	font-size:30px;
	color:#ff5b77;
	float:right;
	margin-top: -12px;
}
.shopin_acquire{
	padding:0 0 10px 0px !important;
	border-bottom:2px solid #ccc;
	margin-top: 30px;
	font-size: 16px;
}
.shopin_acquire1{
	color:#8f8f8f;
	float:left;
	margin-left: 5px;
}
.shopin_acquire2{
	color:#ff5b77;
	float:right;
}
.shopin_acquire3{
	padding:0 0 10px 0px;
	border-bottom:2px solid #ccc;
	font-size: 16px;
	margin-top: 10px;
}
.shopin_fand{
	width:850px;
	height:80px;
	overflow: hidden;
	white-space: nowrap;
}
.shopin_fanli{
	float:left;
	margin-right:10px;
}
.shopin_fanimg{
	width:80px;
}
.shopin_fanli1{
	float:left;
	margin-right:10px;
	display:none;
}
.shop_fanap{
	width:60px;
	margin-top:25px;
}
.shopin_gallery {
    background-color: #fff;
    width: 670px;
    margin:0;
    float: left;
    height: auto;
}
.shopin_healper{
	border:none;
	color:#fff;
	font-size:17px;
	background-color:#ff5b77;
	height:40px;
	width:150px;
	border-radius:5px;
	float:right;	
	margin:-10px 25px 0 0;
}
.shopin_healper>a{
	color:#fff;
	font-size:18px;
	text-decoration:none;
}
.shopin_healper>a:hover,.shopin_healper>a:active,.shopin_healper>a:visited,.shopin_healper>a:link{
	color:#fff;
	font-size:18px;
	text-decoration:none;
}
.shop_healperli {
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 0 5px;
    font-size: 18px;
    color:#ccc;
    margin-bottom: 0 !important;
}
.shop_healper_a {
    padding: 8px 68px 9px 68px!important;
    color: #ccc;
}
.sexchose{
    width: 450px !important;
    border-bottom: 1px solid #ccc !important;
  }
  .sexchose>li.active>a, .sexchose>li.active>a:focus, .sexchose>li.active>a:hover{
    color: #fff !important;
    cursor: default;
    background-color: #16cefc !important;
    border: none;
  }

   .sexchose>li>a{
     padding:10px 40px !important;
     font-size:16px;
     color:#ccc;
   }
  .sexchose>li>a:hover {
	color: #fff !important;
	background-color: #16cefc !important;
  }
  .sextxt{
    color:#ff527c;
    font-size:16px;
  }
  .sexinput{
    border:2px solid #ff527c;
    height:35px;
    font-size:15px;
    width: 285px;
  }
  .sizechose{
    width:100%;
  }
  .sizechose>li.active>a, .sizechose>li.active>a:focus, .sizechose>li.active>a:hover{
    color: #fff !important;
    cursor: default;
    background-color: #ff527c !important;
    border: none;
  }
   .sizechose>li>a{
     padding:8px 61px !important;
     font-size:16px;
     color:#ff527c;
   }
  .sizechose>li>a:hover {
	color: #fff !important;
	background-color: #ff527c !important;
  }
  .sizeletter{
    width:25px;
    margin-right: 5px;
  }
  .sizetable{
    color:#ff527c;
    font-size:16px;
    text-align:center;
  }
  .sizeoffer{
    color:#fff;
    font-size:16px;
    text-align:center;
  }
  .sizeftd{
    background-color:#e98900;
    padding: 5px 0 7px 0;
    border:1px solid #fff;
  }
  .sizesecontd{
    background-color:#ff527c;
    padding: 5px 0 7px 0;
    border:1px solid #fff;
  }
  .sizetxt2{
    padding:20px 0 !important;
    color:#e98900;
    text-align:center;
    font-size:16px;
  }
  .sizetablesp{
    vertical-align: middle;
  }
  /*手機號驗證頁*/
  .smsmeans{
    line-height:58px;
    margin-top: 20px;
    padding: 0 20px !important;
    background-color: #ff5b77;
    height: 60px;
    color: #fff;
    font-size: 20px;
  }
  .smsmeans1{
    border:1px solid #ccc;
    border-top:none;
    font-size:16px;
    border-bottom:none;
    background-color:#fff;
  }
  .smsmeans2{
    border-bottom:1px solid #ccc;
  }
  .smsmeantxt{
    color: #ff5b77;
    height: 40px;
    border:none;
    width: 200px;
    font-weight:bold;
    background-color:#fff;
  }
  .smsmeanbtn1{
    height:40px;
    border:none;
    border-radius:5px;
    width:140px;
    color:#8f8f8f;
    background-color: #ccc;
    font-size:17px;
  }
  /*驗證通過的class*/
  .smsmeanbtn{
    height:40px;
    border:none;
    border-radius:5px;
    width:140px;
    color:#fff;
    background-color: #ff5b77;
    font-size:17px;
  }
  /*發出訂單頁*/
  .send_txt{
    margin-top: 40px;
    color: #ff5b77;
    font-size: 16px;
    height: 35px;
    width: 60px;
    border:none;
    text-align:center;
  }
  .sen_inf_1{
    margin-left: 15px;
    margin-top: 50px;
    margin-bottom: 15px;
  }
  .sen_inn1{
    display:block;
    color:#ff5b77;
    margin-top:50px;
  }
  .sen_txtarea{
    width:100%;
    height:100%;
    border-radius:5px;
    border-color:#ccc;
    color: #ff5b77;
    padding:0 10px;
  }
  .sen_btn{
    width:100%;
    height:100%;
    font-size:18px;
    color:#fff;
    background-color: #ff5b77;
    border:none;
  }
  .sen_txt{
    display: block;
    margin-top: 18px;
    font-size: 16px;
    color: #ff5b77;
  }
  .sen_txt1{
    color:#ff5b77;
    font-size:20px;
    font-weight:bold;
  }
  .sen_accounts{
    float:left;
    color:#8f8f8f;
    margin-left:15px;
    font-size:16px;
  }
  .senlink{
    border:2px solid #f0c03e;
    padding: 0 10px;
    color:#f0c03e;
    border-radius:20px;
  }
  .sen_select{
    width:200px;
    color:#fff;
    background-color:#ff5b77;
    border:none;
    border-radius:5px;
    height:40px;
    padding-left:10px;
  }
  .sen_select1{
    width:600px;
    margin-left:-100px;
    height:40px;
    color:#8f8f8f;
    border-radius:5px;
    border:1px solid #ccc;
  }
  .sen_box{
    width:580px;
    height:40px;
    position:absolute;
    left:0px;
    color:#8f8f8f;
    border-radius:5px 0 0 5px;
    border:1px solid #ccc;
  }
  .sen_order{
    border:2px solid #ff5b77;
    margin-top:20px;
    padding:0 !important;
    background-color:#fff;
  }
  .sen_order1{
    border-bottom:2px solid #ff5b77;
    height:50px;
    padding:0 !important;
    line-height: 50px;
  }
  .sen_right{
    float:right;
    height:100%;
  }
  .sen_right_txt{
    color:#ff5b77;
    font-size:16px;
    float:left;
  }
  .sen_right_gift{
    line-height: 45px;
    text-align:center;
    color:#fff;
    background-color:#f0c03e;
    height:100%;
    float:left;
    width:150px;
    border-right:1px solid #fff;
  }
  .sen_right_integral{
    text-align:center;
    color:#fff;
    background-color:#f0c03e;
    height:100%;
    float:left;
    width:160px;
  }
  .sen_ordertd1{
    width:40%;
    height:100px;
    border-right:1px solid #ccc;
  }
  .sen_orderbt1{
    width:100%;
    height:100%;
    border:none;
    background-color:#ff5b77;
    font-size:20px;
    color:#fff;
    text-align:center;
  }
  .sen_td1{
    border-top:1px solid #ccc;
  }
  .sen_td1:first-child{
    border-top:none;
  }
  /*待收貨*/
  .unp_order{
    padding: 10px 35px !important;
    font-size: 1.8rem;
    background-color: #fffbee;
    border: 1px solid #ccc;
    border-right: none;
    border-left: none;
  }
  .unp_btn{
    border:none;
    color:#ff5b77;
    background-color:#fff;
    font-size:16px;
    margin-top:50px;
  }
  .content_un {
    text-align:left;
    padding-lef:15px;
	color: #ff5b77;
	width: 330px;
	left:15%;
	border: 2px solid #ff5b77;
	border-radius: 5px;
	background: #fff;
	display: none;
	margin-top: 10px;
	position: absolute;
	z-index:999;
}
.content_gd {
	color: #ff5b77;
	width: 455px;
	border: 2px solid #ff5b77;
	border-radius: 5px;
	background: #fff;
	display: none;
	margin-top: 10px;
	position: absolute;
	z-index:999;
}
.content_seepeo {
    text-align:left;
    padding-lef:15px;
	color: #ff5b77;
	width: 380px;
	left:15%;
	border: 2px solid #ff5b77;
	border-radius: 5px;
	background: #fff;
	display: none;
	margin-top: 10px;
	position: absolute;
	z-index:999;
}
